* {
    margin: 0;
    padding: 0;
}


body {
    background-image: url(../img/home_page_bg.jpg);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border : 1px solid red; */
    padding: 10px 0px;
}

.container {
    /* border : 1px solid red; */
    background-color: white;
    font-family: var(--my-font);
    display: flex;
    flex-direction: column;
    padding: 3px 27px 15px 27px;
    gap: 8px;
    border-radius: 15px;
    box-shadow: 6px 5px 17px #7d7d7d;
}

.login-container{
    margin-top: 40px;
}
.container div {
    color: #545454;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.container div h1 {
    text-align: center;
    padding: 12px 0px;
    font-size: 25px;
}

.container div input {
    width: 250px;
    height: 30px;
    padding: 0px 6px;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
}

.container div button {
    width: 32px;
    height: 32px;
    margin-left: 5px;
    background-color: var(--blue-web-color);
    color: white;
    padding: 5px 3px;
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
}

.container div button img{
    width: 20px;
    /* filter: invert(1); */
}

.container div button:hover {
    background-color: var(--yellow-web-color);
    color: black;
    transition: all 0.3s;
}

.container-btn {
    display: flex;
    width: 50px;

}

.container-btn input {
    background-color: var(--blue-web-color);
    color: white;
    cursor: pointer;
}

.container-btn input:hover {
    background-color: var(--yellow-web-color);
    color: black;
    transition: all 0.3s;
}

.container div a {
    text-decoration: none;
    color: var(--blue-web-color);
}

.container div a:hover {
    color: red;
}

.alreadyLoginRegister {
    text-align: center;
    padding: 5px 0px;
}

#rememberMe{
    display: flex;
    gap: 5px;

}
#rememberMe input{
    width: 13px;
    height: 13px;
}