main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/bg.jpg);
    /* background-size: cover; */
}

/* Styling for the feature section in main section  */
.features-section {
    /* border : 1px solid blue; */
    background-color: white;
    border-radius: 12px;
    margin-top: 15px;
    padding-bottom: 50px;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.features-section span {
    display: block;
    text-align: center;
    padding: 12px;
    font-family: var(--my-font);
    font-size: 25px;
}

.features-box {
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    /* gap: 30px; */
    padding: 12px 0px;
}

.features-box-img {
    /* border : 1px solid red; */
    width: 35%;
    text-align: center;
}

.features-box-text {
    /* border : 1px solid black; */
    padding: 15px 10px;
    width: 32%;
}

.features-box-text h1 {
    margin-top: 12px;
}

.features-box-text p {
    margin-top: 12px;
    width: 100%;
    color: #616161;
}

.features-box img {
    width: 400px;
    border-radius: 12px;
}


/* Styling for the about section in main section  */

.about-section {
    /* border : 1px solid blue; */
    background-color: white;
    border-radius: 12px;
    margin-top: 20px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-section span {
    display: block;
    text-align: center;
    padding: 12px;
    font-family: var(--my-font);
    font-size: 25px;
}

.about-section .about-box-intro {
    text-align: center;
    width: 80%;
    color: #616161;
}

.team-container {
    display: flex;
    /* border : 1px solid red; */
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 35px;
}

.team-box {
    border: 1px solid black;
    width: 200px;
    height: 250px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.team-box-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: lightblue;
}

.team-box-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-box h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
}

.team-box p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    width: 80%;
    line-height: 20px;
    text-align: center;
}


/* Styling for the contact section in main section  */

.contact-section {
    background-color: white;
    /* border: 1px solid blue; */
    border-radius: 12px;
    margin-top: 15px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-section span {
    display: block;
    text-align: center;
    padding: 12px;
    font-family: var(--my-font);
    font-size: 25px;
}

.contact-section .contact-box-intro {
    text-align: center;
    width: 80%;
    color: #616161;
    
}

.contact-box {
    display: flex;
    width: 100%;
    /* justify-content: space-evenly; */
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

/* .contact-box {
    border: 1px solid red;
} */

.contact-box-img img {
    width: 400px;
}

.contact-box-form {
    padding: 12px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* border: 1px solid red; */
}

.contact-box-form span {
    font-size: 15px;
    padding: 0px;
    color: #616161;
}

.contact-box-form input {
    width: 400px;
    height: 35px;
    padding: 0px 4px;
    margin: 10px 0px 10px 0px;
}

#form-submit-btn {
    width: 100px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    background-color: var(--blue-web-color);
    color: white;
    font-family: var(--my-font);
}

.contact-box-form textarea {
    width: 399px;
    height: 123px;
    resize: none;
    padding: 2px 3px;
    margin: 10px 0px 10px 0px;
}



