/* Media query for screens up to 1000px width */
@media (max-width: 1000px) {
    /* Adjusts padding and alignment for .features-box */
    .features-box {
        padding: 12px 0px;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }

    /* Adjusts padding and width for text within .features-box */
    .features-box-text {
        padding: 15px 10px;
        width: 78%;
    }

    /* Sets width and border radius for images within .features-box */
    .features-box-img {
        width: 80%;
        border-radius: 20px;
    }
}

@media (max-width : 940px){
    .contact-box-img{
        display: none;
    }

    .contact-box-form {
        width: 75%;
    }

    .contact-box-form input {
        width: 90%;
    }

    .contact-box-form textarea {
        width: 90%;
    }
}

@media (max-width : 630px){
    footer .footer-section{
        flex-direction: column;
        align-items: center;
        padding: 15px 0px;
    }
    .footer-child{
        margin-top: 15px;
    }
}

/* Media query for screens up to 768px width */
@media (max-width: 768px) {
    /* Reduces font size of main heading */
    .header-box-main h1 {
        font-size: 60px;
    }

    /* Adjusts width of paragraph */
    .header-box-main p {
        width: 300px;
    }

    /* Changes layout to column direction and adjusts gap */
    .features-box {
        flex-direction: column;
        gap: 12px;
    }

    /* Centers images and adjusts width */
    .features-box-img {
        width: 80%;
        text-align: center;
    }

    /* Adjusts padding and width for text within .features-box */
    .features-box-text {
        padding: 15px 10px;
        width: 78%;
    }

    /* Adds margin and color to text within .features-box-text */
    .features-box-text h1 {
        margin-top: 12px;
    }

    /* Adds margin and color to text within .features-box-text */
    .features-box-text p {
        margin-top: 12px;
        color: #616161;
    }

    /* Sets image width to 100% with border radius */
    .features-box-img img {
        width: 100%;
        border-radius: 20px;
    }
}

/* Media query for screens up to 540px width */
@media screen and (max-width: 540px) {
    /* Hides the first item in the navigation bar */
    .header-box nav #first {
        display: none;
    }

    /* Displays and styles the second item as flex with space between */
    .header-box nav #second {
        display: block;
        display: flex;
        justify-content: space-between;
    }

    /* Sets width of navigation list to 100% */
    .header-box nav ul {
        width: 100%;
    }

    /* css to make responsive login and register page  */
    .container{
        width: 60%;
    }

    .container div input {
        width: 95%;
    }
    .container-btn input{
        font-size: 10px;
    }
}

/* Media query for screens up to 480px width */
@media screen and (max-width: 480px) {
    /* Further reduces font size of main heading */
    .header-box-main h1 {
        font-size: 40px;
    }

    /* Further adjusts width of paragraph */
    .header-box-main p {
        width: 250px;
    }
}
