<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Vista - Sign up</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/utility.css">
    <link rel="stylesheet" href="../static/css/loginRegister.css">
    <link rel="stylesheet" href="../static/css/hamMenu.css">
    <link rel="stylesheet" href="../static/css/media.css">
    
</head>
<body>
    <header class="register-header-box header-box">
        <nav class="flex-justify-align-center">
            <ul id="first">
                <li><a href="home.html">Home</a></li>
                <li><a href="notes.html">My Notes</a></li>
                <li class="user-icon"><a href="login.html"><img src="../static/img/user.png" alt=""></a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact us</a></li>
            </ul>
            <ul id="second">
                <li class="user-icon"><img src="../static/img/bx-menu.svg" alt=""></li>
                <a href="login.html"></a><li><a href="login.html"><img src="../static/img/user.png" alt=""></a></li>
            </ul>
        </nav>
    </header>    

    <ul id="hamMenu" class="display-none">
        <li id="hamTitle">notevista.online</li>
        <a href="home.html"><li>Home</li></a>
        <a href="notes.html"><li>My Notes</li></a>
        <a href="about.html"><li>About</li></a>
        <a href="contact.html"><li>Contact us</li></a>
    </ul>
    <main>
    <div class="container">
        <div><h1 style="color: var(--blue-web-color);">Register Now</h1></div>
        <div>Enter your username :-</div>
        <div><input type="text" required></div>
        <div>Enter your email :-</div>
        <div><input type="email" required></div>
        <div>Enter password :-</div>
        <div><input type="password" required class="loginRegisterPass"><button class="eyeBtn"><img src="img/hide-eye-icon.png" alt="UH" class="eye-pic"></button></div>
        <div>Confirm password :-</div>
        <div><input type="password" required class="loginRegisterPass"><button class="eyeBtn"><img src="img/hide-eye-icon.png" alt="UH" class="eye-pic"></button></div>
        <div class="container-btn"><input type="submit" value="Register"></div>
        <div class="alreadyLoginRegister">Already have account??<a href="login.html">&nbsp;&nbsp;&nbsp;login</a></div>
    </div>
    </main>          
    
    <footer class="registerLoginfooter">
        <div class="footer-section">
            <div class="footer-child copyright">@2024 notevista.online</div>||
            <div class="footer-child contact"><a href="contact.html" target="_blank">Contact us</a>:- notexvista@gmail.com</div>
        </div>
    </footer>


    <script src="../static/js/loginRegister.js"></script>
    <script src="../static/js/hamburgerMenu.js"></script>
</body>
</html>