/* CREATE NEW NOTE SECTION CSS  */
.createNewNoteSection {
    background-color: white;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px 15px;
    border-radius: 5px;
    font-family: sans-serif;
    color: gray;
}

.createNewNoteSection span {
    font-size: 25px;
    width: 90%;
}

.createNewNoteSection button {
    font-size: 12px;
    padding: 10px 22px;
    background-color: var(--blue-web-color);
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
#createNewBox-2{
    cursor: pointer;
}
.createNewNoteSection button:hover {
    background-color: var(--red-web-color);
    color: white;
}

.createNewNoteSection span textarea {
    resize: none;
    width: 95%;
    border-radius: 5px;
    border: 1px solid grey;
    outline: 1px solid var(--blue-web-color);
}

.createNewNoteSection span #newNoteTitle{
    height: 30px;
    padding: 6px 4px;
    font-size: 25px;
}

.createNewNoteSection span #newNote{
    height: 100px;
    padding: 6px 4px;
    font-size: 18px;
    margin-top: 10px;
}

/* CSS FOR OUR ALL NOTES SECTION  */

.noteHeading{
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

.myAllNotesSection {
    background-color: white;
    padding: 25px 8px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.myAllNotesSection .noteCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--blue-web-color);
}
.myAllNotesSection .noteCard:hover {
    background-color: var(--red-web-color);
    cursor: pointer;
}


#noteTitle {
    width: 200px;
    height: 20px;
    resize: none;
    padding: 5px;
}
#note{
    width: 200px;
    height: 120px;
    resize: none;
    padding: 5px;
}

.myNoteBtns button{
    padding: 3px 20px;
    cursor: pointer;
}
.myNoteBtns button img{
  width: 12px;
  background-color: white;
  mix-blend-mode: color-burn;
}